<a href="https://colab.research.google.com/github/victoriant/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
filtered_df = application_df.drop(columns=["NAME", "EIN"])
filtered_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
filtered_unique = filtered_df.dtypes[filtered_df.dtypes == "object"].index.tolist()
filtered_df[filtered_unique].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_type = filtered_df['APPLICATION_TYPE'].value_counts().reset_index()
app_type

   index  APPLICATION_TYPE
0     T3             27037
1     T4              1542
2     T6              1216
3     T5              1173
4    T19              1065
5     T8               737
6     T7               725
7    T10               528
8     T9               156
9    T13                66
10   T12                27
11    T2                16
12   T25                 3
13   T14                 3
14   T29                 2
15   T15                 2
16   T17                 1

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []
application_types_to_replace = app_type[app_type['APPLICATION_TYPE'] <= 156]['index']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_count = filtered_df['CLASSIFICATION'].value_counts().reset_index()
class_count

    index  CLASSIFICATION
0   C1000           17326
1   C2000            6074
2   C1200            4837
3   C3000            1918
4   C2100            1883
..    ...             ...
66  C4120               1
67  C8210               1
68  C2561               1
69  C4500               1
70  C2150               1

[71 rows x 2 columns]

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count_filtered = []
class_count_filtered = class_count[class_count['CLASSIFICATION'] > 1]
class_count_filtered

    index  CLASSIFICATION
0   C1000           17326
1   C2000            6074
2   C1200            4837
3   C3000            1918
4   C2100            1883
5   C7000             777
6   C1700             287
7   C4000             194
8   C5000             116
9   C1270             114
10  C2700             104
11  C2800              95
12  C7100              75
13  C1300              58
14  C1280              50
15  C1230              36
16  C1400              34
17  C7200              32
18  C2300              32
19  C1240              30
20  C8000              20
21  C7120              18
22  C1500              16
23  C1800              15
24  C6000              15
25  C1250              14
26  C8200              11
27  C1238              10
28  C1278              10
29  C1235               9
30  C1237               9
31  C7210               7
32  C2400               6
33  C1720               6
34  C4100               6
35  C1257               5
36  C1600               5
37  C1260               3
38  C2710               3
39     C0               3
40  C3200               2
41  C1234               2
42  C1246               2
43  C1267               2
44  C1256               2

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
classifications_to_replace = class_count[class_count['CLASSIFICATION'] < 1883]['index']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
numerical_df = pd.get_dummies(filtered_df)
numerical_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = numerical_df["IS_SUCCESSFUL"].values
X = numerical_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

<ipython-input-12-775795f8e043>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = numerical_df.drop(["IS_SUCCESSFUL"],1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  120
hidden_nodes_layer2 = 90

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="LeakyReLU")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="LeakyReLU"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               14040

 dense_1 (Dense)             (None, 90)                10890

 dense_2 (Dense)             (None, 1)                 91

=================================================================
Total params: 25,021
Trainable params: 25,021
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5834 - accuracy: 0.7193
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5597 - accuracy: 0.7271
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7271
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7287
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7298
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7300
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7310
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7315
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7309
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7305
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7315
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7322
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7332
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7322
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7340
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7325
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7314
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7329
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7331
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7336
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7344
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7337
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7334
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7339
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7344
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7344
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7347
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7348
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7339
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7339
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7327
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7348
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7339
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7367
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7353
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7339
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7354
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7333
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7347
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7358
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7355
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7345
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7352
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7356
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7364
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7346
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7360
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7360
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7371
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7373
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7355
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7358
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7361
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7374
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7385
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7369
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7363
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7366
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7368
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7364
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7377
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7377
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7375
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7372
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7367
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7371
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7362
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7386
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5369 - accuracy: 0.7386
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7380
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5370 - accuracy: 0.7377
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7378
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7369
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7373
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7386
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7361
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7383
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5366 - accuracy: 0.7369
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7379
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7377
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7372
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7383
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7377
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7372
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7378
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7379
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7374
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7391
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7396
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7368
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7389
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7381
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7385
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7383
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7376

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5561 - accuracy: 0.7275 - 634ms/epoch - 2ms/step
Loss: 0.556063711643219, Accuracy: 0.7274635434150696

In [19]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')